/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

/* Estilos del encabezado */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #ff6666;
  color: white;
  padding: 20px;
  box-shadow: 0 0 5px rgba(39, 33, 33, 0.2);
}

/* Estilos de la navegación */
.nav {
  display: flex;
  justify-content: center;
  background-color: #95bbd4;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  font-size: 18px;
}

.nav a:hover {
  text-decoration: underline;
}

/* Estilos del contenido principal */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding: 130px 20px 20px 20px;
}

/* Estilos del contenido */
.content {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos del pie de página */
.footer {
  height: 400px;
  text-align: center;
  padding: 20px;
  background-color: #e3e3e3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos del bot */
.bot {
  bottom: 20px;
  right: 20px;
  position: fixed;
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos del botón */
.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff4d4d;
}
