/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #f0f0f0;
}

/* Estilos del encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.logo {
  max-width: 136px;
  padding: 0 0 0 114px;
  height: auto;
}

.menu {
  margin: 0;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.menu a:hover {
  color: #0056b3;
}

.cta-container {
  display: flex;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0056b3;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease;
  margin-right: 10px;
}

.button:hover {
  background-color: #0056b3;
}

  
  .nav {
    display: flex;
    justify-content: center;
    background-color: #95bbd4;
    background-image: url('https://www.iheartradio.ca/image/policy:1.9266064:1558696120/CKTB-Doctor-Lady-Healthcare.jpg?f=default&$p$f=1b1fb52');
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    color: white;
  }
  
  .nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  font-size: 18px;
  }
  
  .nav a:hover {
  text-decoration: underline;
  }
  
 /* Estilos del contenido principal */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding: 50px 30px 30px;
  max-width: 1200px;
  margin: auto;
}

/* Estilos del contenido */
.content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  transition: box-shadow 0.3s ease-in-out;
}

.content:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.content h2 {
  font-size: 26px;
  font-family: inherit;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #6c7a89;
}

.content a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.content a:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .main {
    padding: 30px;
  }

  .content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

  
  /* Estilos del pie de página */
  .footer {
    background-color: #062a50;
    color: #fff;
    padding: 40px 0;
    border-top: 2px solid #f3c623;
    transition: border-top 0.3s ease;
  }
  
  .footer:hover {
    border-top: 10px solid #f3c623;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo img {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .footer-links ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #f3c623;
  }
  
  .footer-social ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-social li {
    margin-right: 20px;
  }
  
  .footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #f3c623;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
/* Estilos del bot */
.bot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  background-color: #0062cc00;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9998;
}

/* Estilos del botón */
.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #0056b3;
}

/* Estilos del input de texto */
.text-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos del mensaje */
.message-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.message-icon {
  margin-right: 10px;
}

.message {
  font-size: 16px;
  color: #333;
}

/* Estilos de los enlaces */
.link-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.link {
  color: #007bff;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #0056b3;
}

/* Estilos del error */
.error {
  color: #0056b3;
  font-size: 16px;
  margin-top: 10px;
}


